venv/
__pycache__/
*.pyc
logs/
screenshots/
.env
*.db
node_modules/
.next/
proctorforge/server/venv/
proctorforge/server/__pycache__/
proctorforge/server/routers/__pycache__/
proctorforge/server/models/__pycache__/
proctorforge/server/middleware/__pycache__/
proctorforge/server/services/__pycache__/
proctorforge/server/schemas/__pycache__/
proctorforge/server/utils/__pycache__/
proctorforge/server/.env
proctorforge/client/node_modules/
proctorforge/client/.next/
proctorforge_local.db
*.sqlite
*.sqlite3
check_db.py
vgg_face2-master/
yolov8n.pt.zip
*.pt
*.pt.zip
